{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рабочее пространство</title>
    <link rel="stylesheet" href="{% static 'workspace/css/nwp.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

{% if request.user.is_authenticated %}
    <body>
        <div class="workspace">
            <a class="btn-back-wp" href="{% url 'profile' %}" class="btn-logout"><i class="fas fa-arrow-left"></i>Вернуться</a>
            <!-- Настройки -->

            <div class="settings-icon" onclick="toggleSettings()">
                <i class="fas fa-cog"></i> <!-- Иконка шестеренки -->
            </div>
            <div class="settings-card" id="settingsCard">
                <p>Пользователь: {{ user.username }}</p>
                <a href="{% url 'mainpage' %}" class="btn-logout">Выйти</a>
            </div>

            <!-- Контейнер для списков -->
            <div class="lists-container">
                {% for l in lists %}
                <div class="list">
                    <div class="list-header">

                        <div class="title-view">
                            <h3>{{ l.title }}</h3>
                            <button class="btn-edit-list" onclick="enableEdit(this, 'list', {{ l.id }})">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                        <div class="title-edit" style="display: none;">
                            <input type="text" class="edit-input" value="{{ l.title }}">
                            <div class="edit-actions">
                                <button class="btn-save" onclick="saveTitle(this, 'list', {{ l.id }})">Сохранить</button>
                                <button class="btn-cancel" onclick="cancelEdit(this, 'list')">Отмена</button>
                            </div>
                        </div>

                        <div class="list-options" onclick="toggleOptions(this, '.list-options-menu')">
                            <i class="fas fa-ellipsis-h"></i>
                        </div>
                        <div class="list-options-menu">
                            <form action="{% url 'delete_el_desk' 'list' l.pk desk_id %}" method="post">
                                {% csrf_token %}
                                <button class="btn delete-list">Удалить Список</button>
                            </form>
                        </div>
                    </div>

                    <!-- Контейнер для карточек в списке -->
                    <div class="cards-container">
                        {% for c in cards %}
                        {% if c.parent_id == l.id %}
                        <div class="card" onclick="openCardModal('modal-{{ c.id }}')">
                            <p>{{ c.title }}</p>
                            {% if c.deadline %}
                                <div class="card-deadline {% if c.is_overdue %}overdue{% endif %}">
                                    <i class="fas fa-clock"></i> {{ c.deadline|date:"d.m.Y H:i" }}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Модальное окно карточки -->
                        <div class="card-modal" id="modal-{{ c.id }}">
                            <div class="modal-content">


                                <div class="title-view">
                                    <h3>{{ c.title }}</h3>
                                    <button class="btn-edit" onclick="enableEdit(this, 'card', {{ c.id }})">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </div>
                                <div class="title-edit" style="display: none;">
                                    <input type="text" class="edit-input" value="{{ c.title }}">
                                    <div class="edit-actions">
                                        <button class="btn-save" onclick="saveTitle(this, 'card', {{ c.id }})">Сохранить</button>
                                        <button class="btn-cancel" onclick="cancelEdit(this, 'card')">Отмена</button>
                                    </div>
                                </div>

                                {% if c.deadline %}
                                <div class="deadline-info {% if c.is_overdue %}overdue{% endif %}">
                                    <i class="fas fa-clock"></i>
                                    <span class="deadline-info-text">
                                        Дедлайн: {{ c.deadline|date:"d.m.Y H:i" }}
                                    </span>
                                </div>
                                {% endif %}

                                <textarea placeholder="Добавьте описание..."></textarea>
                                <div class="modal-actions">
                                    <button class="btn-save"> Сохранить </button>
                                </div>
                                <div class="modal-actions">
                                    <button class="btn add-deadline" onclick="openDeadlineModal({{ c.id }})">
                                        <i class="fas fa-calendar-alt"></i> Добавить дедлайн
                                    </button>
                                    <div class="deadline-modal" id="deadline-modal-{{ c.id }}" style="display: none;">
                                        <div class="deadline-content">
                                            <h4>Установить дедлайн</h4>
                                            <input type="datetime-local" id="deadline-input-{{ c.id }}" class="deadline-input">
                                            <div class="deadline-actions">
                                                <button class="btn save-deadline" onclick="saveDeadline({{ c.id }}, {{ desk_id }})">Сохранить</button>
                                                <button class="btn cancel-deadline" onclick="closeDeadlineModal('deadline-modal-{{ c.id }}')">Отмена</button>
                                            </div>
                                        </div>
                                    </div>

                                    <form action="{% url 'delete_el_desk' 'card' c.pk desk_id %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn delete-card"><i class="fas fa-trash"></i> Удалить карточку</button>
                                    </form>

                                    <button class="btn add-mark-btn"> Добавить метку </button>
                                </div>

                                <div class="add-checklist-container">
                                    <button class="btn add-checklist" onclick="showForm(this, 'add-checklist-form', 'add-checklist', 'add-checklist-container')"> <i class="fas fa-check-square"></i> Добавить чек-лист</button>
                                    <div class="add-checklist-form" style="display: none;">
                                        <form action="{% url 'create_el_desk' 'checklist' 'card' c.id desk_id %}" method="post">
                                            {% csrf_token %}
                                            {{ checklistform.as_p }}

                                            <div class="add-checklist-actions">
                                                <button class="btn create-checklist">Создать</button>
                                                <button class="btn cancel-checklist" onclick="hideForm(this, 'add-checklist-form', 'add-checklist', 'add-checklist-container')"><i class="fas fa-times"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- Чек-лист внутри модального окна -->
                                {% for cl in checklists %}
                                {% if cl.parent_id == c.id %}
                                <div class="checklist">
                                    <!-- Заголовок чек-листа с меню -->
                                    <div class="checklist-header">

                                        <div class="title-view">
                                            <h4>{{ cl.title }}</h4>
                                            <button class="btn-edit" onclick="enableEdit(this, 'checklist', {{ cl.id }})">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                        </div>
                                        <div class="title-edit" style="display: none;">
                                            <input type="text" class="edit-input" value="{{ cl.title }}">
                                            <div class="edit-actions">
                                                <button class="btn-save" onclick="saveTitle(this, 'checklist', {{ cl.id }})">Сохранить</button>
                                                <button class="btn-cancel" onclick="cancelEdit(this, 'checklist')">Отмена</button>
                                            </div>
                                        </div>

                                        <div class="checklist-options" onclick="toggleOptions(this, '.checklist-options-menu')">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </div>
                                        <!-- Выпадающий список для удаления чек-листа -->
                                        <div class="checklist-options-menu">
                                            <form action="{% url 'delete_el_desk' 'checklist' cl.pk desk_id %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn delete-checklist"><i class="fas fa-trash"></i> Удалить Чек-лист</button>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- Пункты чек-листа -->
                                    {% for el in clcards %}
                                    {% if el.parent_id == cl.id %}
                                    <div class="checklist-items">
                                        <div class="checklist-item">
                                            <input type="checkbox" class="item-checkbox">
                                            <div class="title-view">
                                                <span class="item-text">{{ el.title }}</span>
                                                <button class="btn-edit" onclick="enableEdit(this, 'checklistitem', {{ el.id }})">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                            </div>
                                            <div class="title-edit" style="display: none;">
                                                <input type="text" class="edit-input" value="{{ el.title }}">
                                                <div class="edit-actions">
                                                    <button class="btn-save" onclick="saveTitle(this, 'checklistitem', {{ el.id }})">Сохранить</button>
                                                    <button class="btn-cancel" onclick="cancelEdit(this, 'checklistitem')">Отмена</button>
                                                </div>
                                            </div>
                                            <!-- Меню пункта -->
                                            <div class="item-dots" onclick="toggleOptions(this, '.item-options-menu')">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </div>
                                            <!-- Выпадающий список для удаления пункта -->
                                            <div class="item-options-menu">
                                                <form action="{% url 'delete_el_desk' 'checklist_item' el.pk desk_id %}" method="post">
                                                    {% csrf_token %}
                                                    <button class="btn delete-checklist"><i class="fas fa-trash"></i> Удалить элемент</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                    <!-- Кнопка добавления пункта -->
                                    <div class="add-item-container">
                                    <button class="btn add-item" onclick="showForm(this, 'add-item-form', 'add-item', 'add-item-container')">+ Добавить элемент</button>
                                    <div class="add-item-form" style="display: none;">
                                        <form action="{% url 'create_el_desk' 'item' 'checklist' cl.id desk_id %}" method="post">
                                            {% csrf_token %}
                                            {{ itemform.as_p }}

                                            <div class="add-item-actions">
                                                <button class="btn create-item">Создать</button>
                                                <button class="btn cancel-item" onclick="hideForm(this, 'add-item-form', 'add-item', 'add-item-container')"><i class="fas fa-times"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    </div>


                                </div>
                                {% endif %}
                                {% endfor %}


                                <button class="btn close-modal" onclick="closeCardModal('modal-{{ c.id }}')">Закрыть</button>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <!-- Кнопка добавления карточки -->
                        <div class="add-card-container">
                            <button class="btn add-card" onclick="showForm(this, 'add-card-form', 'add-card', 'add-card-container')">+ Добавить карточку</button>
                            <div class="add-card-form" style="display: none;">
                                <form action="{% url 'create_el_desk' 'card' 'list' l.id desk_id %}" method="post">
                                    {% csrf_token %}
                                    {{ cardform.as_p }}

                                    <div class="add-card-actions">
                                        <button class="btn create-card">Создать</button>
                                        <button class="btn cancel-card" onclick="hideForm(this, 'add-card-form', 'add-card', 'add-card-container')"><i class="fas fa-times"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}

                <!-- Кнопка добавления списка -->
                <div class="add-list-container">
                <button class="btn add-list" onclick="showForm(this, 'add-list-form', 'add-list', 'add-list-container')">+ Добавить список</button>
                    <div class="add-list-form" style="display: none;">
                        <form action="{% url 'create_el_desk' 'list' 'desk' desk_id desk_id %}" method="post">
                            {% csrf_token %}
                            {{ lform.as_p }}

                            <div class="add-list-actions">
                                <button class="btn create-list">Создать</button>
                                <button class="btn cancel-list" onclick="hideForm(this, 'add-list-form', 'add-list', 'add-list-container')"><i class="fas fa-times"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </body>
{% else %}
    <!-- Интерфейс для неавторизованных пользователей -->
    <body class="no_auth">
        <h1> Похоже вы еще не авторизованы. <br> Пожалуйста войдите в аккаунт или зарегистрируйтесь</h1>
        <div class="buttons">
            <a href="{% url 'auth' %}" class="btn-login">Войти</a>
            <a href="{% url 'reg' %}" class="btn-login">Зарегистрироваться</a>
        </div>
    </body>
{% endif %}

<script src="{% static 'workspace/js/workspace.js' %}" defer></script>

</html>

